* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header__title {
  text-align: center;
  padding-right: -0.15rem;
}
.inline {
  display: inline;
  margin-right: 1rem;
}
header {
  background-color: #3dc1d3;
  text-align: center;
  text-transform: uppercase;
  color: #2d3436;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.header__login {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.header__login img:hover {
  cursor: pointer;
  outline: 3px solid #2d3436;
  padding-right: 0.4rem;
}
.btn {
  margin-right: 0.5rem;
}
.content {
  height: 100vh;
  background: #e3f6f9;
}
h1 {
  margin-bottom: 0;
}
.lists-board {
  margin: 0 auto;
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #67cedc;
}
.underHeader {
  height: 3rem;
}
.myBtn {
  display: block;
  margin-top: 1rem;
  border-radius: 50%;
  height: 3rem;
  font: 2em bolder;
}
.comments {
  resize: none;
}
.form {
  border: 3px solid #3dc1d3;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #3dc1d3;
  animation-name: animateshow;
  animation-duration: 1s;
}
@keyframes animateshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.form-group {
  margin: 1rem;
}
.form__btn-bar {
  margin-right: 0.75rem;
}
.btn-bar {
  margin: 0 0.25rem 1rem;
  display: block;
  float: right;
}
.form__spinner {
  display: none;
  z-index: 9999;
}
div.dropdown-menu a:hover {
  background-color: #138496;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  min-width: 60%;
  margin-top: 1rem;
  border-radius: 1rem;
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 767.98px) {
  h1 {
    font-size: 2rem;
  }
}
