* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header__title {
  text-align: center;
  padding-right: -0.15rem;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
header {
  min-width: 362px;
  background-color: #3dc1d3;
  text-align: center;
  text-transform: uppercase;
  color: #2d3436;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.header__login {
  font-weight: bold;
  display: flex;
  align-items: center;
}
img:hover {
  cursor: pointer;
  outline: 3px solid #2d3436;
  padding-right: 0.4rem;
}
.btn {
  margin-right: 0.5rem;
}
.content {
  height: auto;
  background: #e3f6f9;
}
h1 {
  margin-bottom: 0;
}
#lists-board {
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #67cedc;
}
.myBtn {
  display: block;
  margin-top: 4rem;
  border-radius: 50%;
  height: 3rem;
  font: 2em bolder;
}
.comments {
  resize: none;
}
.form {
  border: 3px solid #3dc1d3;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #3dc1d3;
  animation-name: animateshow;
  animation-duration: 1s;
}
@keyframes animateshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.form-group {
  margin: 1rem;
}
.form__btn-bar {
  margin-right: 0.75rem;
}
.btn-bar {
  margin: 0 0.25rem 1rem;
  display: block;
  float: right;
}
.form__spinner {
  display: none;
  z-index: 9999;
}
div.dropdown-menu a:hover {
  background-color: #138496;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter {
  margin-right: 0.5rem;
}
.fa-comment-alt {
  float: right;
  margin-right: 0.7rem;
  margin-top: 0.4rem;
}
.lists-board__list {
  width: 80%;
  margin-top: 1rem;
  border-radius: 1rem;
  justify-self: center;
}
#lists {
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 1fr;
}
.header__btn-bar {
  margin-left: 3rem;
}
#openCard {
  display: none;
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
  width: 80vw;
  background: #67cedc;
}
.openCard__list {
  width: 50vw;
  margin: 1rem auto;
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 2.1rem;
  }
  .userStatus {
    display: none;
  }
  #lists {
    grid-template-columns: 100%;
  }
  .fa-ellipsis-v {
    padding: 0.3rem;
    border: 1px solid #000;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .fa-ellipsis-v {
    display: none;
  }
  h1 {
    margin: 0.5rem;
  }
  #lists {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .fa-ellipsis-v {
    display: none;
  }
  h1 {
    margin: 1rem;
  }
  #lists {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #lists {
    grid-template-columns: 33% 33% 33%;
  }
  .fa-ellipsis-v {
    display: none;
  }
}
@media (min-width: 1200px) {
  #lists {
    grid-template-columns: 33% 33% 33%;
  }
  .fa-ellipsis-v {
    display: none;
  }
}
